@model Ecommerce.Models.UserInformation

@{
    ViewBag.Title = "Set New Password";
}

<!-- Start Contact Form -->
<div class="untree_co-section">
    <div class="container">
        <div class="block">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 pb-4">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            <h2 class="text-center">Reset Password</h2>
                            <br />
                            @using (Html.BeginForm())
                            {
                                <div class="form-group">
                                    <label class="text-black" required>OTP</label>
                                    <input type="text" name="otp" class="form-control" required />
                                </div>

                                <div class="form-group">
                                    <label class="text-black" required>New Password</label>
                                    <input type="password" name="newPassword" class="form-control" required />
                                </div>

                                <div class="form-group">
                                    <label class="text-black" required>Confirm New Password</label>
                                    <input type="password" name="confirmNewPassword" class="form-control" required />
                                </div>

                                <br />

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            }
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 15px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0);
        }
</style>
